body {
    background-color: #f5f7fa;
    font-family: 'Poppins';font-size: 22px;
}

.page-header, .card-header {
    background-color: #13334D;
    color: #fff;
}


.btn{
    background-color: #13334D;
    color: #fff;
}

.btn:hover {
    background-color: #0f2a5b;
    color: #fff;
}

